button:disabled {
    opacitY: 0.5;
}

#addRemove:hover {
    transform: scale(1.1)
}

#searchBar {
    border: 1px solid #999999;
}

#moreInfo {
    border: none;
    background-color: transparent;
}